@media screen and (min-width: 650px) {
  .jumbo-container .jumbo-text h1 {
    margin-top: 25px;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 70%;
    font-family: sans-serif;
  }

  .jumbo-container .jumbo-text a {
    color: white;
  }

  .jumbo-container .jumbo-text .button {
    width: 140px;
    padding: 1% 3%;
    margin: 1%;
  }

  .who-we-are, .we-ship {
    line-height: 1.5;
    color: #7e8082;
    font-size: 20px;
    text-align: center;
  }

  .grid-container {
    margin-top: 100px;
    margin-bottom:100px;
    text-align: center;
  }

  .process-item {
    width: 30%;
    display: inline-block;
    margin: 15px;
  }

  .process-graphic {
    width: 100px;
  }

  .grid-container h2 {
    font-family: serif;
    color: #333;
    font-style: italic;
    font-size: 32px;
  }

  .grid-container p {
    color: #7e8082;
  }

  .process-item a {
    color: #ec594d;
    text-decoration: none;
  }

  .full-width-row {
    position: relative;
    margin-bottom: 10px;
  }

  .home-case-study-text {
    position: absolute;
    right: 0;
    color: white;
    font-family: sans-serif;
    width: 40%;
    top: 20%;
  }

  .home-case-study-text a {
    color: white;
  }

  .width-50 {
    width: 48%;
  }

  .width-50:first-child {
    background-color: lightblue;
    float: left;
  }
  .width-50:last-child {
    background-color: lightyellow;
    float: right;
  }
}
